<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src='/javascripts/script.js'></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWTarM1n8qsGlG5bw0sMMa_jtfnGD-sxE&callback=initMap"></script>
  </head>
  <body>
    <div class="main-wrapper">
      {{{body}}}
    </div>
    
  </body>
</html>
